.mt-100 {
    margin-top: 100px;
}

h5.title {
    font-size: 14px;
    color: #8a8a8a;
}

.content {
    padding: 10px;
}

img,
video {
    display: block;
    width: 80px;
    border-radius: 5px;
    height: 80px;
}

video {
    width: 300px;
    height: 280px;
}
