nz-table  td{
    text-align: left !important;
}
.btn-group{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-bar{
    width: 420px;
}
.w170{
    width: 170px !important;
}