<div class="drawer-content">
    <h4>
        <span>合同号：{{ contract.contract_no }}</span>
        <span>工厂名：{{ contract.factory_name }}</span>
    </h4>
    <nz-table #skuTable nzSize="small" [nzShowPagination]="false" [nzData]="contract.sku_list">
        <thead>
            <tr>
                <th [nzAlign]="'center'">SKU</th>
                <th [nzAlign]="'center'">中文名</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of skuTable.data; let i = index">
                <td [nzAlign]="'center'">{{ data.sku }}</td>
                <td [nzAlign]="'center'">{{ data.name }}</td>
            </tr>
        </tbody>
    </nz-table>

    <nz-table
        class="mt-20"
        #scgeduleTable
        nzSize="small"
        [(nzPageSize)]="contract.schedule_list_select.length"
        [nzShowPagination]="false"
        [nzData]="contract.schedule_list_select"
    >
        <thead>
            <tr>
                <th [nzAlign]="'center'">序号</th>
                <th [nzAlign]="'center'">状态</th>
                <th [nzAlign]="'center'">进度要求</th>
                <th [nzAlign]="'center'">我不需要</th>
                <th [nzAlign]="'center'">操作</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of scgeduleTable.data; let i = index">
                <tr>
                    <td [nzAlign]="'center'">{{ i + 1 }}</td>
                    <td [nzAlign]="'center'">{{ data.description }}</td>
                    <td [nzAlign]="'center'">{{ data.details }}</td>
                    <td [nzAlign]="'center'" [ngStyle]="{ color: data.is_need ? '#666' : '#b9b9b9' }">
                        我不需要
                    </td>
                    <td [nzAlign]="'center'">
                        <label
                            nz-checkbox
                            [(ngModel)]="data.is_need"
                            (change)="setStatusJudgeFn(data)"
                            [disabled]="data.meta_is_need && !baseData.isSystemManger()"
                            [nzChecked]="data.is_need"
                        ></label>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</div>

<div class="footer mt-20 f-r">
    <p class="color-red m-0">备注：8-14唛头选项必须保留一个！</p>
    <div>
        <a 
            nz-popconfirm
            nzPopconfirmTitle="确定要重置吗？"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="confirm()"
            (nzOnCancel)="cancel()"
            class="mr-15"
        >
            <span>重置</span>
        </a>

        <button
            type="button"
            nzSize="small"
            nz-button
            nzType="primary"
            (click)="scheduleEditSubmit()"
            class="ant-btn ant-btn-primary"
        >
            <span>提交</span>
        </button>
    </div>
</div>
