<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button (click)="baseData.utilFn.goBack()">
                <i class="iconfont iconfanhui"></i>
                <ion-label class="global-back-text">返回</ion-label>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            验货合同
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-label class="title" *ngIf="type == 'input'">选择最早验货时间</ion-label>
    <div class="box mt-10 mb-10">
        <div class="swiper-container" [swiper]="swiperConfig" *ngIf="group && group.length != 0">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <table class="table table-striped table-condensed table-hover table-condensed table-text-no-break">
                        <thead>
                            <tr>
                                <td>申请人</td>
                                <td>跟单人</td>
                                <td>采购人</td>

                                <td>合同号</td>
                                <td class="chip-text" Chipboard>工厂名</td>

                                <td>工厂地址</td>
                                <td>合同SKU数</td>
                                <td>验货SKU数</td>
                                <td>新品SKU数量</td>
                                <td>申请时间</td>
                                <td>申请验货时间</td>
                                <td>预计装柜时间</td>
                                <td *ngIf="type == 'list'">最早验货时间</td>
                                <td>备注</td>
                                <td>
                                    选择验货时间
                                </td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of group; let i = index">
                                <td>{{ item.apply_name }}</td>
                                <td>{{ item.buyer_user }}</td>
                                <td>{{ item.schedule_name ? item.schedule_name.user.name : '' }}</td>

                                <td class="chip-text" Chipboard>{{ item.contract_no }}</td>
                                <td class="chip-text" Chipboard>{{ item.factory_name }}</td>

                                <td>{{ item.ProviceName + item.CityName }}</td>
                                <td class="chip-text" Chipboard>{{ item.total_quantity }}</td>
                                <td class="chip-text" Chipboard>{{ item.quantity }}</td>
                                <td class="chip-text" Chipboard>{{ item.new_quantity }}</td>
                                <td class="chip-text" Chipboard>{{ item.created_at | date: 'yyyy-MM-dd' }}</td>
                                <td class="chip-text" Chipboard>{{ item.inspection_date | date: 'yyyy-MM-dd' }}</td>
                                <td class="chip-text" Chipboard>
                                    {{ item.estimated_loading_time | date: 'yyyy-MM-dd' }}
                                </td>
                                <td class="chip-text" *ngIf="type == 'list'" Chipboard>
                                    {{ item.probable_inspection_date | date: 'yyyy-MM-dd' }}
                                </td>
                                <td>
                                    <textarea
                                        [(ngModel)]="item.contract_desc"
                                        style="border: 1px solid #cecece; border-radius: 2px;"
                                        placeholder="请输入备注"
                                    ></textarea>
                                </td>
                                <td>
                                    <div class="choice-date f-l mr-10">
                                        <ion-label
                                            *ngIf="!item.early_date_start && type == 'input'"
                                            class="col-sm-2 control-label"
                                            >开始时间</ion-label
                                        >
                                        <ion-datetime
                                            *ngIf="type == 'input'"
                                            style="width: 100%;"
                                            display-format="YYYY-MMM-DD"
                                            doneText="完成"
                                            max="2022"
                                            [(ngModel)]="item.early_date_start"
                                            value="{{ item.early_date_start || currentTime }}"
                                            min="2019"
                                            cancelText="取消"
                                            monthShortNames="01, 02,03,04, 05,06,07,08,09,10,11,12"
                                        >
                                        </ion-datetime>
                                        
                                    </div>
                                    <div class="choice-date f-l">
                                        <ion-label
                                            *ngIf="!item.early_date_end && type == 'input'"
                                            class="col-sm-2 control-label"
                                            >结束时间</ion-label
                                        >
                                        <ion-datetime
                                            *ngIf="type == 'input'"
                                            style="width: 100%;"
                                            display-format="YYYY-MMM-DD"
                                            doneText="完成"
                                            max="2022"
                                            [(ngModel)]="item.early_date_end"
                                            value="{{ item.early_date_end || currentTime }}"
                                            min="2019"
                                            cancelText="取消"
                                            monthShortNames="01, 02,03,04, 05,06,07,08,09,10,11,12"
                                        >
                                        </ion-datetime>
                                    </div>
                                </td>

                                <td>
                                    <ion-button size="small" (click)="seeSku(item)">查看详情</ion-button>
                                    <!-- <ion-button *ngIf="type=='input'" color='danger' size='small' (click)="revokeTask(item,'contract')" >撤销验货</ion-button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
        </div>
        <app-no-data-show *ngIf="group && group.length == 0"></app-no-data-show>
    </div>

    <ion-label class="title" *ngIf="type == 'input'">选择验货人</ion-label>
    <ion-list class="mt-10 mb-10" *ngIf="type == 'input'">
        <ion-item *ngFor="let item of userList">
            <ion-label>{{ item.name }}</ion-label>
            <ion-checkbox
                [value]="item.id"
                (ionChange)="selectUser(item)"
                [disabled]="inspec_user_list && inspec_user_list.length"
                [(ngModel)]="item.choice"
                slot="start"
            ></ion-checkbox>
        </ion-item>
    </ion-list>

    <div class="date-box" *ngIf="type == 'input'">
        <ion-label>备注：</ion-label>
        <input
            placeholder="输入备注"
            type="text"
            [disabled]="inspec_user_list && inspec_user_list.length"
            [(ngModel)]="updateParams.desc"
        />
    </div>

    <ion-button *ngIf="type == 'input'" (click)="submit()" size="small" [disabled]="!updateParams.user_id"
        >提交</ion-button
    >
</ion-content>
