.welcome-card ion-img {
    // max-height: 80vh;
    overflow: hidden;
}

#slogan {
    margin-left: 10px;
    display: block !important;
    width: auto !important;
    float: left;
}
ion-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    float: right;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > span:first-child {
        font-size: 0.6rem;
    }
}
ion-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red !important;
    --background: url('../../../assets/img/sd.png') 100%;
}
.animate {
    width: 100%;
    height: 56px;
    background: url('../../../assets/img/snow-bg.png') repeat-y center;
    -webkit-animation: auto 20s linear infinite;
}

@-webkit-keyframes auto {
    0% {
        background-position: center 0, 0 0;
    }

    100% {
        background-position: center 885px, 0 0;
    }
}

.mr-40 {
    font-weight: bold;
}
.text-r {
    font-weight: bold;
}
@-webkit-keyframes play {
    0% {
        -webkit-transform: translate(0, -315px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}

.animate .ice {
    -webkit-animation: play 1s;
}
.animate .con {
    width: 100%;
    height: 56px;
    background-repeat: no-repeat;
    background-position: 0 204px;
    position: relative;
}

.animate .con .ice1 {
    width: 87px;
    height: 55px;
    background: url('../../../assets/img/ice.png');
    position: absolute;
    bottom: 0;
    left: 480px;
    -webkit-animation-duration: 0.5s;
}
.animate .con .ice2 {
    width: 87px;
    height: 55px;
    background: url('../../../assets/img/ice.png');
    position: absolute;
    bottom: 0;
    left: 280px;
    -webkit-animation-duration: 0.3s;
}

.animate .con .ice3 {
    width: 87px;
    height: 55px;
    background: url('../../../assets/img/ice.png');
    position: absolute;
    bottom: 0;
    left: 400px;
    -webkit-animation-duration: 0.6s;
}
