<ion-header>
    <ion-toolbar>
        <div class="animate">
            <div class="con">
                <div class="ice1 ice"></div>
                <div class="ice2 ice"></div>
                <div class="ice3 ice"></div>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <img src="../../assets/img/slogan.png" id="slogan" />
                <ion-title>
                    <div class="title">
                        <div class="text-r">
                            <span class="text-r mr-40">欢迎您：{{baseData.userInfo.name}}</span>
                            <span>现在是：</span>
                            <span>{{date | async | date:'yyyy年MM月dd日'}}</span>
                        </div>
                    </div>
                </ion-title>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img [src]="src"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>HELLO</ion-card-subtitle>
            <ion-card-title>欢迎进入鹰眼系统</ion-card-title>
            {{progress}}
        </ion-card-header>
        <ion-card-content> </ion-card-content>
    </ion-card>
</ion-content>