<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button (click)="baseData.utilFn.goBack()">
                <i class="iconfont iconfanhui"></i>
                <ion-label class="global-back-text">返回</ion-label>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            验货任务
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-no-data-show *ngIf="inspecList.length == 0"></app-no-data-show>
    <div class="swiper-container" [swiper]="swiperConfig" *ngIf="inspecList && inspecList.length != 0">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <table
                    id="table1"
                    style="table-layout: fixed; width: 1700px;"
                    class="table table-striped table-condensed table-hover table-condensed table-text-no-break"
                >
                    <thead>
                        <tr>
                            <td class="w120">
                                验货批次号
                                <!-- <app-sort [sortField]='"inspection_group_no_order_by"' [sortName]='"批次号"' (outFn)='getConfirmedTask($event)'></app-sort> -->
                            </td>
                            <td class="w100">质检员</td>
                            <td class="w150">验货流水号</td>

                            <td class="w180">验货工厂</td>
                            <td class="w180">工厂地址</td>
                            <td class="w150">采购合同号</td>
                            <td class="w100">联系人</td>
                            <td class="w120">联系电话</td>
                            <td class="w100">预计装柜时间</td>
                            <td class="w100">操作完毕</td>
                            <td class="w100">验货SKU数</td>
                            <td class="w300">合同操作</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of inspecList; let i = index">
                            <td class="w120 pos-r chip-text" Chipboard>
                                {{ item.inspection_group_no }}
                            </td>
                            <td class="w100 pos-r">
                                {{ item.user.join(",") }}
                            </td>
                            <td colspan="10">
                                <table class="table2" style="table-layout: fixed; width: 1480px;">
                                    <tbody>
                                        <tr
                                            *ngFor="let sItem of item.apply_inspections"
                                            (mouseenter)="currentHoverItem = sItem"
                                            (mouseleave)="currentHoverItem = null"
                                        >
                                            <td class="w150">
                                                {{ sItem.data[0].apply_inspection_no }}
                                            </td>

                                            <td
                                                class="pos-r w180"
                                                title="{{ sItem.factory_name }}"
                                                style="overflow: visible !important;"
                                            >
                                                {{ sItem.factory_name.length > 12 ? sItem.factory_name.substring(0, 12)
                                                + "…" : sItem.factory_name }}
                                            </td>

                                            <td class="w180">
                                                {{ sItem.factory_address }}
                                            </td>

                                            <td colspan="7" style="width: 970px !important;">
                                                <table class="table3" style="table-layout: fixed; overflow: hidden;">
                                                    <tbody>
                                                        <tr *ngFor="let tItem of sItem.data">
                                                            <td class="w150">{{ tItem.contract_no }}</td>
                                                            <td class="w100 pos-r">
                                                                <div class="address-div pos-a chip-text" Chipboard>
                                                                    {{ tItem.factory_contacts }}
                                                                </div>
                                                            </td>

                                                            <td class="chip-text w120 pos-r" Chipboard>
                                                                {{ tItem.mobil_phone }}
                                                            </td>

                                                            <td class="w100 pos-r">
                                                                <div class="address-div w100 pos-a chip-text" Chipboard>
                                                                    {{ tItem.estimated_loading_time | date: "yyyy-MM-dd"
                                                                    }}
                                                                </div>
                                                            </td>

                                                            <td class="w100">
                                                                {{ tItem.is_pre_handle_over?'是':'否' }}
                                                            </td>

                                                            <td class="w100 pos-r">
                                                                <div class="inspec-date-div pos-a chip-text" Chipboard>
                                                                    {{ tItem.quantity }}
                                                                </div>
                                                            </td>

                                                            <td class="w300">
                                                                <ion-button
                                                                    size="small"
                                                                    (click)="seeSku(tItem)"
                                                                    color="primary"
                                                                    >查看SKU</ion-button
                                                                >
                                                                <ion-button
                                                                    size="small"
                                                                    (click)="skuDesc(tItem)"
                                                                    color="primary"
                                                                    >SKU概括</ion-button
                                                                >
                                                                <ion-button
                                                                    size="small"
                                                                    (click)="goInsepcContract(tItem)"
                                                                    color="primary"
                                                                    >合同详情</ion-button
                                                                >
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
</ion-content>
