.panel-top {
    padding: 20px 0;
    border-bottom: 1px solid #ededed;
}
nz-select {
    width: 140px;
}
.inspect-person,
.inspect-date,
.inspect-target {
    display: flex;
    align-items: center;
    span {
        white-space: nowrap;
        margin-right: 10px;
    }
}
.swiper-wrapper {
    width: 100%;
}
.btns {
    height: 32px;
    display: flex;
    align-items: center;
    button {
        // height: 20px;
        line-height: 15px;
        font-size: 10px;
        padding: 0 15px;
    }
}
.btns button:nth-child(1) {
    margin-right: 10px;
}
.swiper-container {
    padding-top: 15px;
}
.swiper-slide {
    width: 100% !important;
}
nz-table {
    width: 100%;
    th,
    td {
        text-align: center;
        font-size: 12px;
    }
    td {
        height: 35px !important;
        line-height: 35px !important;
    }
}
.operating div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
