.panel-top {
    padding: 20px 0;
    border-bottom: 1px solid #ededed;
}
nz-select {
    width: 140px;
}
.inspect-person,
.inspect-date,
.inspect-target {
    display: flex;
    align-items: center;
    span {
        white-space: nowrap;
        margin-right: 10px;
    }
}
.btns {
    height: 32px;
    display: flex;
    align-items: center;
    button {
        // height: 20px;
        line-height: 15px;
        font-size: 10px;
        padding: 0 15px;
    }
}
.btns button:nth-child(1) {
    margin-right: 10px;
}
td {
    text-align: center;
    height: 40px;
}
.head th {
    font-weight: bold;
    text-align: center;
}
.row-item {
    margin-bottom: 10px;
    text-align: center;
}
.head-item {
    font-weight: bold;
}
