.slider_box .table {
    min-width: 100% !important;
}

.text-c {
    text-align: center;
    margin-top: 20px;
}

tr {
    height: 54px;
    i {
        font-style: normal;
    }
}

.gray {
    color: #707070;
}

::-webkit-scrollbar {
    display: none;
}
.pb-100 {
    padding-bottom: 100px !important;
}
