.factoryBaseInformation,
.factoryGeneralSituation,
.productInformation,
.collaborativeProduct,
.specimenInformation,
.factoryAssess {
    span {
        font-size: 14px;
        font-weight: bold;
    }
    margin-bottom: 60px;
}

.row-item {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.row-container1 {
    width: 70%;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.item-collabor {
    padding: 10px 0;
    padding-left: 30px;
    border-right: 1px solid #ccc;
}
.backColor {
    background-color: #ededed;
}
.zwf {
    height: 200px;
}

// 缩略图的样式
.thumbnail {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    padding: 0;
    margin-bottom: unset !important;
}

.thumbnail-container {
    padding: 5px 0;
    display: flex;
    justify-content: flex-start;
    border-right: 1px solid #ccc;
    flex-wrap: wrap;
}
.noShowImg {
    display: flex;
    justify-content: center;
}
.noContainer {
    display: unset;
}
.video-container {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    padding: 0;
    background-color: #333;
    border-radius: 3px;
    cursor: pointer;
}
.playVideo {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    border: 3px solid #ccc;
}
.trigle {
    left: 60%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #ccc;
    border-bottom: 10px solid transparent;
}
.videoContainer {
    width: 500px;
    height: 300px;
}
.videosp {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.videoContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}
.closeVideo {
    position: absolute;
    left: 50%;
    top: 260px;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(160, 159, 159);
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    z-index: 100;
    cursor: pointer;
}
.noHave {
    width: 100%;
    text-align: center;
}
.produ {
    border-left: 1px solid #ccc;
}
.product-container {
    height: 100%;
}
.row1 {
    display: flex;
    border-bottom: 1px solid #ccc;
}
.automatic {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    padding: 15px 0;
    // border-bottom: 1px solid #ccc;
}
.specei_pic {
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.specei_pic .video-container {
    margin-bottom: 3px;
}
// .specei_pic
.specei_pic .video-container {
    margin-top: 3px;
}
.row1-item {
    padding: 20px 0;
    text-align: center;
    border-right: 1px solid #ccc;
}
